.details {
  background-color: var(--light-purple-color);
  padding: 1rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.author {
  font-size: 0.8rem;
  font-weight: bold;
  color: #543280;
  text-transform: uppercase;
}

.text {
  white-space: pre-wrap;
  font-size: 1.25rem;
  color: #593884;
}

.details a {
  display: block;
  text-decoration: none;
}

.details .btn {
  width: 4rem;
  text-align: center;
  cursor: pointer;
  font: inherit;
  padding: 0.2rem 0;
  border: none;
  border-radius: 4px;
  background-color: var(--purple-shade-1);
  color: var(--dark-purple-color);
}

.details .btn:hover {
  background-color: var(--purple-shade-2);
  color: var(--light-purple-color);
}
