.header {
  margin: 2rem 10%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--light-purple-color);
}

.logo {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: var(--light-purple-color);
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--purple-shade-1);
  color: var(--dark-purple-color);
  border: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  background-color: var(--purple-shade-2);
  color: var(--light-purple-color);
}
