.form {
  background-color: var(--dark-purple-color);
  padding: 1rem;
  width: 20rem;
}

.form label {
  display: block;
  margin-bottom: 0.05 rem;
  color: var(--light-purple-color);
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: var(--purple-shade-1);
  color: var(--dark-purple-color);
}

.form textarea {
  margin-bottom: 1rem;
}
