* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
}

:root {
  --light-purple-color: #ece1fa;
  --purple-shade-1: #ae97fb;
  --purple-shade-2: #8c6cf7;
  --dark-purple-color: #5b028c;
  --box-shadow: 1px 1px 1px var(--light-purple-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
